.titulo{
    display: flex;  /* Movimentar divs dentro da class */
    justify-content: center;    /* Centralizar na horizontal */
    flex-direction: row;    /* Em forma de linha, uma div na frente da outra */
    width: 100%;    /* Largura da div */
    height: 110px;  /* Altura da Div */

}

#div1{
    background-color: rgb(51, 255, 0);
    width: 20%;
}

#div2{
    background-color: rgb(0, 0, 0);
    width: 80%;

}

#div3{
    background-color: rgb(51, 255, 0);
    width: 20%;

}

.meio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

#div4{
    background-color: rgb(255, 0, 0);
    width: 50%;
}

#div5{
    background-color: rgb(0, 17, 255);
    width: 50%;
}

.rodape{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

#div6{
    background-color: black;
    width: 25%;
}

#div7{
    background-color: rgb(0, 255, 149);
    width: 25%;
}

#div8{
    background-color: rgb(100, 77, 26);
    width: 25%;
}

#div9{
    background-color: rgb(211, 20, 131);
    width: 25%;
}